<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="" method="POST">
    {% csrf_token %}
    <div style="margin-left: 25px">
    <div style="margin-bottom:10px">
        <input name='user' type="text" placeholder="username">
    </div>
    <div style="margin-bottom:15px">
        <input name="pass" type="password" placeholder="password">
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
        </div>
</form>

<p>{{ error }}</p>


</body>
</html>